<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="js/products.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">
        <div v-if="showProduct">
            <h1 v-text="sitename"></h1>
            <button @click="toggleCheckout" v-bind:disabled="!canShowCheckout"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Checkout
                ({{cart.length}})</button>

            <!-- Product information -->
            <div v-for="product in products">
                <figure>
                    <img v-bind:src="product.image" width=300>
                </figure>
                <h2 v-text="product.title"></h2>
                <p v-text="product.description"></p>
                <p>Price: £{{product.price}}</p>
                <p>{{product.availableInventory}} available.</p>
                <button v-on:click="addItem(product)" v-bind:disabled="!canAddToCart(product)">Add to cart</button>
            </div>

        </div>
        <div v-else>
            <h1>Checkout Page</h1>
            <button @click="toggleCheckout"> Return to store </button>
            <p>First name: <input v-model="firstName"></p>
            <p>Last name: <input v-model="lastName"></p>
            <p>Phone number: <input v-model="phone"></p>

            <h2>Summary</h2>
            <p>Full Name: {{firstName}} {{lastName}}</p>
            <p>Phone Number: {{phone}}</p>
        </div>

    </div>

    <script type="module">
        const { createApp } = Vue
        const petstore = createApp({
            data() {
                return {
                    sitename: "Vue.js Pet Depot",
                    product: {
                        id: 1001,
                        title: "Cat Food, 25lb bag",
                        description: "A 25 pound bag of irresistible, organic goodness for your cat.",
                        price: 2000,
                        image: "images/cat.jpg",
                        availableInventory: 5,
                    },
                    products: productsArray,
                    cart: [],
                    showProduct: true,
                    firstName: "",
                    lastName: "",
                    phone: ""
                }
            },
            computed: {
                // cartItemCount: function () {
                //     return this.cart.length;
                // },
                // canAddToCart: function () {
                //     return this.cart.length < this.product.availableInventory;
                // }
                canShowCheckout: function () {
                    return this.cart.length > 0;
                }
            },
            methods: {
                addItem(product) {
                    this.cart.push(product.id);
                    product.availableInventory--;
                },
                toggleCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                cartItemCount(id){
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                canAddToCart(product){
                    return this.cartItemCount(product.id) < product.availableInventory;
                }
            } 
        })
        petstore.mount('#app')
    </script>

</body>

</html>